@font-face {
    src: url("../fonts/Montserrat-Light.woff2");
    font-family: "Montserrat";
    font-weight: 300;
}

@font-face {
    src: url("../fonts/Montserrat-Regular.woff2");
    font-family: "Montserrat";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/Montserrat-SemiBold.woff2");
    font-family: "Montserrat";
    font-weight: 600;
}

@font-face {
    src: url("../fonts/Montserrat-Bold.woff2");
    font-family: "Montserrat";
    font-weight: 700;
}